@{
    ViewData["Title"] = "Om oss";
}

    <div class="aboutContainer">

        <div class="salonPic">
            <img src="~/images/hairsalon.jpg" alt="hair salon" />
        </div>

        <h2>Mer om oss på Hårfin</h2>

        <p>
            Phasellus odio turpis, elementum sit amet velit id, suscipit fringilla eros. Sed rutrum enim eleifend, posuere
            purus et, euismod augue. Donec vehicula neque vitae fringilla pretium. Pellentesque habitant morbi tristique
            senectus et netus et malesuada fames ac turpis egestas. Maecenas non nisi feugiat, tristique mi sed, rhoncus
            nulla. Aliquam vehicula sapien non magna mattis, ut vulputate magna accumsan. Curabitur a diam et ipsum
            accumsan lacinia sed ut mauris. Integer eros orci, ultrices id ullamcorper nec, accumsan sed augue.
        </p><br />

        <p>
            Fusce ac magna nec risus faucibus venenatis ut sit amet dolor. Curabitur rutrum arcu eu augue viverra imperdiet.
            Praesent tortor nisi, consectetur nec mattis eget, mollis sit amet nisl. Duis auctor mollis tempus. Ut semper commodo
            ligula sit amet ornare. Suspendisse gravida id libero a pellentesque. Maecenas viverra purus nec odio sollicitudin
            placerat. Vestibulum nisl dui, vehicula sit amet vehicula vel, maximus non ante. Fusce nulla lectus, bibendum a pretium
            quis, pellentesque a sem.
        </p><br />

        <h3>@ViewData["Message"]</h3>

        <p>@ViewBag.text</p>
       
    </div>

    <footer>Hitta hit: Kontorsgatan 12, 832 14 Östersund. Kontakt: 063- 12 12 12 E-mail: harfin@gmail.com.</footer>