@{
    ViewData["Title"] = "Startsidan";
}
    <div id="bg"></div>
        
    <div class="bgtext">
        <h2>Välkommen till Hårfin!</h2>

        <a asp-controller="Home" type="button" class="btn btn-light btn-lg" asp-action="Booking">Boka tid</a>

    </div>

   

