@{
    ViewData["Title"] = "Behandlingar";
}

    <div class="treatContainer">

        <h2>Behandlingar och priser</h2>

        <h3><b>Klipp</b></h3>
        <p>Klippning <b>590kr</b></p>
        <p>Avancerad klippning (stor förändring eller mycket hår) <b>640kr</b></p>
        <p>Maskinklippning (endast sidorna) <b>320kr</b></p>
        <p>Barnklipp 0-4 år <b>340kr </b></p>
        <p>Barnklipp 5-10 år <b>440kr </b></p>
        <p>Lugg <b>180kr</b></p><br />

        <h3><b>Uppsättning/styling</b></h3>
        <p>Tvätt & fön/Styling <b>490kr</b></p>
        <p>Uppsättning <b>700kr/h</b></p>
        <p>Bruduppsättning <b>1000kr/h</b></p><br />

        <h3><b>Övrig hårvård</b></h3>
        <p>Permanent inkl. klipp <b>1600kr</b></p>
        <p>Inpackning i samband med behandling med extra massage <b>150kr</b></p><br />

        <div class="textInfo">
            <p>I priserna ingår alltid tvätt och fön.</p>
            <p>Utebliven tid debiteras med 80% av behandlingens kostnad. Avbokning ska ske senast 24h innan bokad tid.</p><br />
        </div>

        <div class="textMessage">
            <h3>@ViewData["Message"]</h3>


            <p>@ViewBag.text</p>

            <partial name="_AboutPartial" />
        </div>

        </div>

        <footer>@ViewBag.footer</footer>
